# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. seaborn
3. Numpy

| Data Science Tools |
|----------|
|Tableau | 
|PowerBi |
|TensorFlow |

# Objectives:
- To create an introduction into the use of Python and Markdown
- To execute arithmetic functions in Python
- To list the different tools used in Python
- To list the various libraries used in Python
- To familiarise oneself with the use of Python

### Below are a few examples of evaluating arithmetic expressions in Python:
\(2 + 3 = 5\),
\(12 - 10 = 2\)

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60.

In [3]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
##### Tugbobo AbdulAzeez